*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    padding: 1rem;
}
.container{
    width: 30%;
    margin:0 auto;
    border:2px solid blue;
    border-radius: 20px;
    padding: 1rem;
}
.input-container{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.todo{
    height: 40px;
    flex-grow: 1;
    margin-right: 5px;
    padding: 5px;
    font-size: 1.3rem;
}
.addTodo{
    padding:0px 10px;
    font-size: 1.2rem;
    background-color: red;
    color:white;
    border:none;
    cursor: pointer;
}
.todolist{
    list-style: none;
}
.todolist li{
    width: 98%;
    background-color: blue;
    color:white;
    font-size: 1.2rem;
    margin-bottom: 5px;
    padding: 5px;
}